allow bootanim surfaceflinger:fifo_file rw_file_perms;
allow bootanim property_socket:sock_file { write };
allow bootanim init:unix_stream_socket { connectto };
allow bootanim system_prop:property_service { set };
