allow hal_graphics_composer_default system_prop:property_service set;
allow hal_graphics_composer_default init:unix_stream_socket connectto;
allow hal_graphics_composer_default property_socket:sock_file write;
allow hal_graphics_composer_default rga_device:chr_file { read write open ioctl };
allow hal_graphics_composer_default self:netlink_kobject_uevent_socket { create bind read };
allow hal_graphics_composer_default gpu_device:dir search;
allow hal_graphics_composer_default vndbinder_device:chr_file { read write open ioctl };

allow hal_graphics_composer_default hal_graphics_allocator_hwservice:hwservice_manager find;
binder_call(hal_graphics_composer_default, hal_graphics_allocator_default)
