type log-watch, domain;
type log-watch_exec, exec_type, file_type;
type log-watch-cnf, file_type;

userdebug_or_eng(`
  init_daemon_domain(log-watch)
')

