# allow power hal to adjust max frequency
allow system_server sysfs_devices_system_cpu:file w_file_perms;
allow system_server timer_device:chr_file rw_file_perms;

allow system_server surfaceflinger:fifo_file rw_file_perms;
allow system_server serial_device:chr_file rw_file_perms;

allow system_server gps_data_file:dir { search write read open add_name };
allow system_server gps_data_file:fifo_file { write open read };
allow system_server dumpstate:unix_stream_socket { ioctl };

allow system_server socket_device:sock_file { write };

allow system_server displayd:unix_stream_socket { connectto };
