allow untrusted_app surfaceflinger:fifo_file rw_file_perms;
allow untrusted_app gpu_device:chr_file rw_file_perms; 
allow untrusted_app app_data_file:dir { search };

allow untrusted_app storage_stub_file:dir { getattr };
allow untrusted_app unlabeled:filesystem { getattr };
allow untrusted_app unlabeled:dir rw_dir_perms;
allow untrusted_app unlabeled:file rw_file_perms;
allow untrusted_app devicemanager_service:service_manager { find };
