on boot
service rootservice /vendor/bin/rootservice
    class main
    user root
    group root
    disabled
    oneshot

#on property:persist.vendor.rootservice=1
on property:sys.boot_completed=1
    start rootservice
