import init.rk30board.usb.rc
import init.${ro.hardware}.bootmode.${ro.bootmode}.rc
import init.${ro.hardware}.environment.rc
import init.connectivity.rc

on early-init
    export SECOND_VOLUME_STORAGE /mnt/external_sd
    mkdir /mnt/external_sd 0000 system system
    export THIRD_VOLUME_STORAGE /mnt/usb_storage
    mkdir /mnt/usb_storage 0000 system system

on init
    # start watchdogd

    # for adobe reader mobile
    export RK_ADOBE_DE_MOBILE 1
    export EBOOK_PAGE_VISIBLE_NUMBER 2　
    export RK_ADEPT_DEVICE_TYPE mobile
    export RK_ADOBE_DE_DOC_FOLDER "/mnt/sdcard/Digital Editions"
    export RK_ADEPT_ACTIVATION_FILE /mnt/sdcard/.adobe-digital-editions/activation.xml
    export RK_ADEPT_DEVICE_FILE /mnt/sdcard/.adobe-digital-editions/device.xml
    export RK_ADEPT_DEVICE_SALT_FILE /mnt/sdcard/.adobe-digital-editions/devicesalt
    export ADOBE_FONTS_DIR  /system/fonts/adobefonts/

    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/internal_sd 0000 system system
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated
    export SECOND_VOLUME_STORAGE /mnt/external_sd
    mkdir /mnt/external_sd 0000 system system
    export THIRD_VOLUME_STORAGE /mnt/usb_storage
    mkdir /mnt/usb_storage 0000 system system

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

on post-fs
    insmod /system/lib/modules/ump.ko
    insmod /system/lib/modules/mali.ko
    insmod /system/lib/modules/mali_kbase.ko
    insmod /system/lib/modules/rk30_mirroring.ko
    insmod /system/lib/modules/rk29-ipp.ko

    # Turn on swap
    swapon_all /fstab.rk30board

    # Swap in only 1 page at a time
    write /proc/sys/vm/page-cluster 0

on post-fs-data
    # Now that are booted all the way and out of mount panics, ensure that we panic on later errors.
    # This is a hack to work around the fact that we can't recover from all errors that would lead to a panic
    # during the initial mount (http://b/17382778), yet we need to panic on emmc errors (http://b/17640053)
    # For a remount only the flags and the target mount point are relevant.
    mount dummy dummy /data remount nosuid nodev noatime rw seclabel,background_gc=on,user_xattr,acl,errors=panic

    # we will remap this as /mnt/sdcard with the sdcard fuse tool
    mkdir /data/media 0770 media_rw media_rw

    # AP6476 GPS permission
    chmod 755 /system/bin/glgps
    chown root system /system/bin/glgps
    chmod 644 /system/lib/hw/gps.default.so
    chown root system /system/lib/hw/gps.default.so
    mkdir /data/gps 0770 system net_bt_stack


    setprop vold.post_fs_data_done 1

on boot
    setprop UserVolumeLabel "RockChips"

    # bluetooth
    # change back to bluetooth from system
    chown bluetooth net_bt_stack /data/misc/bluetooth

    # power down interface
    write /sys/class/rfkill/rfkill0/state 0

    mount debugfs /sys/kernel/debug /sys/kernel/debug mode=755

    # Set up kernel tracing, but disable it by default
    chmod 0222 /sys/kernel/debug/tracing/trace_marker
    write /sys/kernel/debug/tracing/tracing_on 0

    restorecon_recursive /sys/devices/system/cpu/cpufreq/interactive
    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpufreq/interactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/input_boost
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/io_is_busy

    chown system system /sys/devices/system/cpu/cpu1/online
    chmod 0660 /sys/devices/system/cpu/cpu1/online

    # b/13568411: make lazy vfree flush thresholds match flush_tlb_range
    write /proc/sys/vm/lazy_vfree_tlb_flush_all_threshold 524288

    chown wifi wifi /sys/class/rkwifi/driver 
    chown wifi wifi /sys/class/rkwifi/power

    write /proc/sys/net/core/rmem_max 1048576
    write /proc/sys/net/core/wmem_max 1048576

    # backlight
    chown system system /sys/class/backlight/rk28_bl/brightness
    
    # for hdmi timem out
    chown root system /sys/class/graphics/fb0/blank
    chmod 0664 /sys/class/graphics/fb0/blank
    chmod 0664 /dev/graphics/fb0

    chown root system /sys/class/graphics/fb0/bcsh
    chown root system /sys/class/graphics/fb0/dsp_lut
    chmod 0664 /sys/class/graphics/fb0/bcsh
    chmod 0664 /sys/class/graphics/fb0/dsp_lut

    chown system system /sys/mali400_utility/utility
    chmod 0664 /sys/mali400_utility/utility

    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
     
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed

# create virtual SD card at /mnt/sdcard, based on the /data/media directory
# daemon will drop to user/group system/media_rw after initializing
# underlying files in /data/media will be created with user and group media_rw (1023)
# virtual sdcard daemon running as media_rw (1023)
service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

service charger /charger
    class charger
    seclabel u:r:healthd:s0

# Set watchdog timer to 30 seconds and pet it every 10 seconds to get a 20 second margin
service watchdogd /sbin/watchdogd 10 20
    class core
    disabled
    seclabel u:r:watchdogd:s0

# for telephony function
on property:ro.boot.baseband=N/A
    setprop ro.radio.noril true
    stop ril-daemon

# bugreport is triggered by holding down volume down, volume up and power
service bugreport /system/bin/dumpstate -d -p -B \
        -o /data/data/com.android.shell/files/bugreports/bugreport
    class late_start
    disabled
    oneshot
    keycodes 114 115 116

service wfd /system/bin/wfd
    class main
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -aABDKL
    class main
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -aABDKL
    class late_start
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

on property:ro.factory.hasUMS=false
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy
    mount rootfs rootfs / ro remount

on property:ro.factory.hasUMS=cdrom
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy
    mount rootfs rootfs / ro remount

on property:ro.factory.hasUMS=true
    symlink /mnt/internal_sd /sdcard
    symlink /mnt/internal_sd /mnt/sdcard
    symlink /mnt/internal_sd /storage/sdcard0
    mount rootfs rootfs / ro remount
    stop sdcard


# Binding fuse mount point to /storage/emulated/legacy
#on property:init.svc.sdcard=running
#    wait /mnt/shell/emulated/0
#    mount none /mnt/shell/emulated/0 /storage/emulated/legacy bind

on property:ro.boot.charger.emmc=1
    mount ext4 /dev/block/platform/emmc/by-name/system /system wait ro noatime nodiratime
    start console
    mount ext4 /dev/block/platform/emmc/by-name/metadata /metadata wait noatime nodiratime nosuid nodev noauto_da_alloc,discard
    start charger

on property:ro.boot.charger.emmc=0
    insmod /rk30xxnand_ko.ko
    mount ext4 mtd@system /system wait ro noatime nodiratime noauto_da_alloc
    start console
    mount ext4 mtd@metadata /metadata wait noatime nodiratime nosuid nodev noauto_da_alloc
    start charger

on charger
    setprop ro.boot.charger.emmc 0
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    setprop sys.usb.config adb

service akmd /system/bin/akmd
    class main
    user system
    group system
    oneshot

on property:sys.gmali.performance=ui
    start pat_ui

service pat_ui /system/bin/performance ui
    disabled
    oneshot

on property:sys.gmali.performance=video
    start pat_video

service pat_video /system/bin/performance video
    disabled
    oneshot

#factory
on property:ro.factory.tool=1     
    write /sys/class/gsensor_class/orientation gsensor={-1,0,0,0,0,1,0,-1,0}
    write /sys/devices/platform/rk29-keypad/rk29key {menu:MENU,home:HOME,vol+:VOLUP,vol-:VOLDOWN,play:PLAY,esc:ESC,sensor:CAMERA}
    write /sys/devices/platform/rk29_backlight/rk29backlight 100

on property:ro.rk.btchip=broadcom.bplus
    start gpsd

service gpsd  /system/bin/glgps -c /system/etc/gps/gpsconfig.xml
    class main
    disabled
    user root
    group system
