type mediadrm_vendor_data_file, file_type, data_file_type;
type abc_data_file, file_type, data_file_type;
type rk_audio_setting_vendor_data_file, file_type, data_file_type;
