binder_call(mediaserver, hal_rockit_server)
binder_call(hal_rockit_server, mediaserver)
binder_call(hal_rockit_server, hwservicemanager)
binder_call(hal_rockit_server, hal_rockit_hwservice)
binder_call(hal_rockit_hwservice, hal_rockit_server)

hal_attribute_hwservice(hal_rockit, hal_rockit_hwservice)

hal_client_domain(mediaserver, hal_rockit)

# Client
allow mediaserver hal_rockit_hwservice:hwservice_manager { find };

# call render thread
allow hal_rockit_server gpu_device:chr_file rw_file_perms;
allow hal_rockit_server gpu_device:dir r_dir_perms;

# read device-tree
#allow hal_rockit_server sysfs_dev:file r_file_perms;

# mpp ioctl /dev/vpu_service /dev/iep
allow hal_rockit_server video_device:chr_file rw_file_perms;
allowxperm hal_rockit_server video_device:chr_file ioctl { 0x6c01 0x6c03 0x6c04 0x690b 0x6908 0x6906 };

# mpp ioctl /dev/rga
#allow hal_rockit_server rga_device:chr_file rw_file_perms;
#allowxperm hal_rockit_server rga_device:chr_file ioctl { 0x5017 };

# read from storage
r_dir_file(hal_rockit_server, sdcardfs)
r_dir_file(hal_rockit_server, storage_file)
#r_dir_file(hal_rockit_server, media_rw_data_file)

hwbinder_use(hal_rockit_server)
vndbinder_use(hal_rockit_server)

get_prop(hal_rockit_server, hwservicemanager_prop)
