allow system_suspend sysfs_bluetooth_writable:lnk_file read;
allow system_suspend sysfs_bluetooth_writable:file read;
allow system_suspend sysfs_bluetooth_writable:file open;
allow system_suspend sysfs_bluetooth_writable:file getattr;
allow system_suspend sysfs_net:lnk_file read;
allow system_suspend sysfs_net:file read;
allow system_suspend sysfs_net:file open;
allow system_suspend sysfs_net:file getattr;
